*.bak
.venv/
.DS_Store
~*.*
doxyHtml
doc
html
docs/html
release/
embedded/**/build/

embedded/OH1_Upper_Instrument_Panel/1A8-UP_FRONT_CONTROL_PANEL/.pio/

embedded/OH1_Upper_Instrument_Panel/1A8-UP_FRONT_CONTROL_PANEL/1A8-UP_FRONT_CONTROL_PANEL/lib/dcs-bios-arduino-library-0.3.10/examples/PRESET___FREQ_UHF_RADIO_M2000C/

embedded/OH1_Upper_Instrument_Panel/1A8-UP_FRONT_CONTROL_PANEL/1A8-UP_FRONT_CONTROL_PANEL/lib/dcs-bios-arduino-library-0.3.10/examples/PRESET___FREQ_UVHF_RADIO_M2000C/
